/* Estilo Popup */

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: var(--cor-clara);
    border-radius: 12px;
    box-shadow: var(--sombra-popup);
    z-index: 1000;
    max-width: 350px;
    text-align: center;
    font-size: 1em;
    align-items: center;
    gap: 15px;
    animation: expandir 0.4s ease-out, diminuir 0.4s ease-in 4s forwards;
}

.popup-conteudo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.popup-icone {
    width: 40px;
    height: 40px;
}

.fechar-popup {
    background: none;
    border: none;
    color: var(--texto-padrao);
    font-size: 1.2em;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

@keyframes expandir {
    0% {
        transform: scale(0.8) translate(-50%, -50%);
        opacity: 0;
    }
    100% {
        transform: scale(1) translate(-50%, -50%);
        opacity: 1;
    }
}

@keyframes diminuir {
    0% {
        transform: scale(1) translate(-50%, -50%);
        opacity: 1;
    }
    100% {
        transform: scale(0.8) translate(-50%, -50%);
        opacity: 0;
    }
}
