/* Estilo cadastro-incidente */
.container-cadastro {
    width: 100%;
    max-width: var(--largura-maxima-container);
    margin: 40px auto;
    padding: var(--padding-padrao);
    background-color: var(--cor-clara);
    border-radius: var(--raio-borda);
    box-shadow: var(--sombra-card);
}

h2 {
    font-size: var(--tamanho-titulo);
    color: var(--texto-padrao);
    text-align: center;
    margin-bottom: auto;
}

.cabecalho-cadastro {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.botao-retornar {
    display: inline-block;
    text-decoration: none;
    color: var(--cor-30);
    margin-right: 15px;
    transition: color var(--transicao), transform var(--transicao);
}

.botao-retornar:hover {
    color: var(--cor-30);
    transform: scale(1.05);
}

.formulario-entradas {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.formulario-grupo {
    position: relative;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    display: block;
    font-size: var(--tamanho-texto);
    margin-bottom: 5px;
    color: var(--texto-secundario);
}

.formulario-controle {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--cor-borda);
    border-radius: var(--raio-borda);
    font-size: var(--tamanho-texto);
    color: var(--texto-padrao);
    transition: border var(--transicao), box-shadow var(--transicao);
}

.formulario-controle:focus {
    border-color: var(--cor-30);
    box-shadow: 0 0 8px rgba(44, 62, 80, 0.3);
    outline: none;
}

textarea.formulario-controle {
    resize: vertical;
    height: 100px;
}

select.formulario-controle {
    cursor: pointer;
}

select.formulario-controle:hover {
    border-color: var(--cor-30);
    box-shadow: 0 0 8px rgba(44, 62, 80, 0.3);
}

.formulario-botoes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.botao-limpar, .botao-confirmar {
    padding: 10px 20px;
    font-size: var(--tamanho-texto);
    border: none;
    border-radius: var(--raio-borda);
    cursor: pointer;
    transition: background-color var(--transicao), transform var(--transicao);
}

.botao-limpar {
    color: var(--texto-padrao);
}

.botao-limpar:hover {
    background-color: var(--cor-borda);
    transform: scale(1.01);
}

.botao-confirmar {
    background-color: var(--cor-10);
    color: var(--cor-clara);
}

.botao-confirmar:hover {
    transform: scale(1.01);
}

.botao-limpar:active, .botao-confirmar:active {
    transform: scale(0.98);
}

@media (max-width: var(--largura-maxima-mobile)) {
    .formulario-entradas {
        grid-template-columns: 1fr;
    }
    .formulario-botoes {
        grid-template-columns: 1fr;
    }
}

/* Estilo feed-pessoal */
.principal {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.coluna {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feed-incidentes {
    width: 100%;
    height: auto;
    max-width: var(--largura-maxima-container);
}

.container-postagem {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: var(--raio-borda);
    box-shadow: var(--sombra-card);
    width: 100%;
    height: auto;
    transition: transform var(--transicao);
}


h2 {
    font-size: var(--tamanho-titulo);
    color: var(--texto-padrao);
    text-align: center;
    margin-bottom: 20px;
}

.conteudo-cabeçalho {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cabecalho-postagem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.titulo-postagem {
    color: var(--texto-secundario);
    font-size: 24px;
    font-weight: bold;
}

.icone-situacao {
    display: flex;
    align-items: center;
    color: var(--cor-10);
    font-size: var(--tamanho-texto);
}

.informacao-postagem {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.imagem-usuario {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.nome {
    color: var(--texto-secundario);
    font-size: var(--tamanho-texto);
}

.data {
    color: var(--texto-secundario);
    font-size: 12px;
}

.mensagem-postagem {
    font-size: 16px;
    color: var(--texto-padrao);
    margin-top: 10px;
    margin-bottom: 20px;
}

.imagem-postagem {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.miniaturas {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.miniaturas img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transition: transform var(--transicao);
}

.miniaturas img:hover {
    transform: scale(1.1);
}

.reacoes {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: var(--tamanho-texto);
    margin-bottom: 20px;
}

.botao-curtir {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    font-size: var(--tamanho-texto);
    background-color: var(--cor-10);
    color: var(--cor-clara);
    border: none;
    border-radius: var(--raio-borda);
    cursor: pointer;
    transition: background-color var(--transicao), transform var(--transicao);
}

.botao-curtir:hover {
    transform: scale(1.05);
}

.botao-curtir:active {
    transform: scale(0.98);
}
.botao-filtrar {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    font-size: var(--tamanho-texto);	
    color: var(--cor-10);
    border: 1px solid var(--sombra-card);
    border-radius: var(--raio-borda);
    cursor: pointer;
    transition: background-color var(--transicao), transform var(--transicao);
}

.botao-filtrar:hover {
    transform: scale(1.05);
}

.botao-filtrar:active {
    transform: scale(0.98);
}

.contador-comentarios {
    display: flex;
    align-items: center;
    font-size: var(--tamanho-texto);
    color: var(--texto-padrao);
}

.campo-comentario {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--cor-borda);
    border-radius: var(--raio-borda);
    font-size: var(--tamanho-texto);
    color: var(--texto-padrao);
    resize: vertical;
    height: 80px;
    transition: border var(--transicao), box-shadow var(--transicao);
}

textarea:focus {
    border-color: var(--cor-10);
    box-shadow: 0 0 8px rgba(44, 62, 80, 0.3);
    outline: none;
}

.botao-enviar {
    padding: 10px 20px;
    font-size: var(--tamanho-texto);
    border: none;
    border-radius: var(--raio-borda);
    background-color: var(--cor-10);
    color: var(--cor-clara);
    cursor: pointer;
    transition: background-color var(--transicao), transform var(--transicao);
}

.botao-enviar:hover {
    transform: scale(1.05);
}

.comentarios {
    border-top: 1px solid var(--cor-borda);
    padding-top: 20px;
}

.comentario {
    color: var(--texto-padrao);
    margin-bottom: 15px;
}

.respostas {
    margin-left: 20px;
    margin-top: 10px;
}

.botao-responder {
    font-size: 12px;
    background-color: var(--cor-10);
    color: var(--cor-clara);
    border: none;
    border-radius: var(--raio-borda);
    cursor: pointer;
    padding: 5px 10px;
    margin-top: 10px;
}

.botao-responder:hover {
    background-color: var(--cor-30);
}

.fechar-resposta {
    position: relative;
    top: 5px;
    right: 10px;
    font-size: 20px;
}