/* Estilo do consultar-usuario */
.lista-usuarios {
    list-style-type: none;
    padding: 0;
}

.card-usuario {
    display: flex;
    align-items: center;
    margin-bottom: var(--padding-padrao);
    text-decoration: none;
    color: inherit;
}

.card-usuario img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: var(--padding-padrao);
}

.nome-usuario {
    font-size: var(--tamanho-texto);
    color: var(--cor-30);
}

.card-usuario:hover {
    background-color: var(--cor-clara);
    cursor: pointer;
}

/* Estilo do perfil-usuario */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-principal);
    background-color: var(--cor-clara);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo do container do perfil */
.perfil-container {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    gap: var(--padding-padrao);
    width: 300px;
    background-color: var(--cor-clara);
    border-radius: var(--raio-borda);
    box-shadow: var(--sombra-card);
    text-align: center;
    padding: 20px;
}

/* Estilo da imagem de perfil */
.perfil-imagem {
    position: relative;
    display: flex;
    justify-content: center;
}

.perfil-imagem img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.editar-foto {
    position: absolute;
    bottom: 10px;
}

.editar-foto input[type="file"] {
    display: none;
}

.editar-foto button {
    background-color: var(--cor-10);
    color: var(--cor-clara);
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

.editar-foto button:hover {
    background-color: #0056b3;
}

/* Nome do usuário */
.perfil-nome span {
    font-size: var(--tamanho-titulo);
    font-weight: var(--peso-titulo);
    color: var(--texto-padrao);
}

/* Botões de ação */
.perfil-botoes {
    display: grid;
    gap: 10px;
}

.perfil-botoes button {
    display: flex;
    align-items: center;
    padding: var(--padding-padrao);
    background-color: var(--cor-clara);
    border: 1px solid var(--cor-borda);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color var(--transicao);
}

.perfil-botoes button:hover {
    background-color: #f0f0f0;
}

#editar-perfil {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    align-items: center;
    justify-content: center;
}

.perfil-botoes #botao-confirmar, #botao-cancelar {
    padding: 10px 20px;
    font-size: var(--tamanho-texto);
    border: none;
    border-radius: var(--raio-borda);
    cursor: pointer;
    transition: background-color var(--transicao), transform var(--transicao);
}

.perfil-botoes #botao-confirmar {
    justify-content: center;
    background-color: var(--cor-10);
    color: var(--cor-clara);
}


.perfil-botoes #botao-confirmar:hover {
    background-color: var(--cor-30);
    transform: scale(1.05);
}

.perfil-botoes #botao-cancelar {
    color: var(--texto-padrao);
}

.perfil-botoes #botao-cancelar:hover {
    background-color: var(--cor-borda);
    transform: scale(1.05);
}

.perfil-botoes #botao-confirmar:active,.perfil-botoes #botao-cancelar:active {
    transform: scale(0.98);
}

.perfil-botoes img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

/* Estilo para o link de Log-out */
.perfil-logout {
    margin-top: 10px;
    color: var(--cor-10);
    font-weight: bold;
    text-decoration: none;
    transition: color var(--transicao);
}

.perfil-logout:hover {
    color: #0056b3;
}
.principal {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    gap: 20px;
    width: 100%;
    height: 100%;
}
.coluna {
    padding-top: 20px;
    display: flex
;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
/* Estilo para páginas de login/cadastro/definir e alterar senha */
.adentrar * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: auto;
}

/* Estilo geral do corpo */
.adentrar body {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  background-color: #FFFFFF;
  color: #2C3E50;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

/* Logo no topo */
.adentrar header {
  width: 100%;
}

.adentrar .logo-acesso {
  display: flex;
  justify-content: left;
  padding-left: 20px;
}

.adentrar input{
    margin-bottom: 15px;
    padding: 20px;
    border: 1px solid #3498DB;
    border-radius: 20px;
    font-size: 24px;
}

.adentrar .logo-avisaai {
  width: 300px;
}

/* Estilo da seção principal (imagens e formulários) */
.adentrar .container-acesso {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 120px);
  width: 100vw;
}

.adentrar .acesso-esquerda {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.adentrar .imagem-tela {
  width: 620px;
}

.adentrar .acesso-direita {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
}

.adentrar .formulario-entradas {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
}

.adentrar h2 {
  font-size: 64px;
  text-align: center;
  color: #3498DB;
  width: 550px;
}

.adentrar h3 {
  font-size: 18px;
  text-align: center;
  color: #3498DB;
  width: 550px;
  margin-bottom: 10px;
}

.adentrar form {
  display: flex;
  flex-direction: column;
  width: 550px;
}

.adentrarinput {
  margin-bottom: 15px;
  padding: 20px;
  border: 1px solid #3498DB;
  border-radius: 20px;
  font-size: 24px;
}

.adentrar input::placeholder {
  color: #2C3E50;
}

.adentrar button {
  padding: 15px 60px 15px 60px;
  background-color: #3498DB;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 24px;
}

.adentrar button:hover {
  background-color: #2980B9;
}

.adentrar .formulario-botoes {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.adentrar .botao-login {
  margin-bottom: 15px;
}

.adentrar.link {
  color: #2980B9;
  text-decoration: none; /* Remove o sublinhado do link */
}

